<!DOCTYPE html>
<!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
    <![endif]-->
    <!--[if IE 7]>
        <html class="no-js lt-ie9 lt-ie8">
        <![endif]-->
        <!--[if IE 8]>
            <html class="no-js lt-ie9">
            <![endif]-->
            <!--[if gt IE 8]>
                <!-->
                <html class="no-js">
                <!--<![endif]-->
                
                <head>
                    <!-- BASICS -->
                    <meta charset="utf-8" />
                    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
                    <title>
                        一麻袋
                    </title>
                    <meta name="description" content="" />
                    <meta name="viewport" content="width=device-width, initial-scale=1.0"
                    />
                    <link rel="stylesheet" type="text/css" href="${path}/views/front/css/isotope.css" media="screen"
                    />
                    <link rel="stylesheet" href="${path}/views/front/js/fancybox/jquery.fancybox.css" type="text/css"
                    media="screen" />
                    <link rel="stylesheet" href="${path}/views/front/css/bootstrap.css" />
                    <link rel="stylesheet" href="${path}/views/front/css/font-awesome.css" />
                    <link rel="stylesheet" href="${path}/views/front/css/bootstrap-theme.css" />
                    <link rel="stylesheet" href="${path}/views/front/css/style.css" />
                   
                    <!-- skin -->
                    <link rel="stylesheet" href="${path}/views/front/skin/default.css" />
                </head>
                
                <body>
                    <section id="header" class="appear">
                    </section>
                    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);"
                    data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="fa-bars color-white">
                                    </span>
                                </button>
                                <h1>
                                    <a class="navbar-brand" href="custom" data-0="line-height:90px;" data-300="line-height:50px;">
                                        一麻袋C2M平台
                                    </a>
                                </h1>
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                                    <li class="active">
                                        <a href="custom">
                                            主页
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-about">
                                            关于我们
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-works">
                                            列表
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#section-contact">
                                            意见
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.navbar-collapse -->
                        </div>
                    </div>
                    <section class="featured">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active">
                                </li>
                                <li data-target="#myCarousel" data-slide-to="1">
                                </li>
                                <li data-target="#myCarousel" data-slide-to="2">
                                </li>
                            </ol>
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="${path}/views/front/img/01.jpg" alt="First slide">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>
                                            </h1>
                                            <p>
                                                -----写了几个字------
                                            </p>
                                            <p>
                                                <a class="btn btn-lg btn-primary" href="#" role="button">
                                                    Sign up today
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="${path}/views/front/img/02.jpg" alt="Second slide">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>
                                                Another example headline.
                                            </h1>
                                            <p>
                                                不要乱打字
                                            </p>
                                            <p>
                                                <a class="btn btn-lg btn-primary" href="#" role="button">
                                                    Learn more
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="${path}/views/front/img/03.jpg" alt="Third slide">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>
                                                C2M
                                            </h1>
                                            <p>
                                                一麻袋广告语
                                            </p>
                                            <p>
                                                <a class="btn btn-lg btn-primary" href="#" role="button">
                                                    Browse gallery
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="${path}/views/front/img/04.jpg" alt="Fourth slide">
                                    <div class="container">
                                        <div class="carousel-caption">
                                            <h1>
                                                C2M
                                            </h1>
                                            <p>
                                                一麻袋广告语
                                            </p>
                                            <p>
                                                <a class="btn btn-lg btn-primary" href="#" role="button">
                                                    Browse gallery
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left">
                                </span>
                                <span class="sr-only">
                                    Previous
                                </span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right">
                                </span>
                                <span class="sr-only">
                                    Next
                                </span>
                            </a>
                        </div>
                    </section>
                    <!-- services -->
                    <section id="section-services" class="section pad-bot30 bg-white">
                        <div class="container">
                            <div class="row mar-bot40">
                                <div class="col-lg-4">
                                    <div class="align-center">
                                        <i class="fa fa-code fa-5x mar-bot20">
                                        </i>
                                        <h4 class="text-bold">
                                            Valid HTML5
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque
                                            comprehensam nam no. Mei cu dicat voluptaria volumus.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="align-center">
                                        <i class="fa fa-terminal fa-5x mar-bot20">
                                        </i>
                                        <h4 class="text-bold">
                                            Responsive
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque
                                            comprehensam nam no. Mei cu dicat voluptaria volumus.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="align-center">
                                        <i class="fa fa-bolt fa-5x mar-bot20">
                                        </i>
                                        <h4 class="text-bold">
                                            Customizable
                                        </h4>
                                        <p>
                                            Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque
                                            comprehensam nam no. Mei cu dicat voluptaria volumus.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- spacer section:testimonial -->
                    <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="align-center">
                                        <div class="testimonial pad-top40 pad-bot40 clearfix">
                                            <!-- <h5>
                                            Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
                                            </h5>
                                            <br/>
                                            <span class="author">&mdash; MIKE DOE <a href="#">www.siteurl.com</a></span>
                                            -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- about -->
                    <section id="section-about" class="section appear clearfix">
                        <div class="container">
                            <div class="row mar-bot40">
                                <div class="col-md-offset-3 col-md-6">
                                    <div class="section-header">
                                        <h2 class="section-heading animated" data-animation="bounceInUp">
                                            我们的产品
                                        </h2>
                                        <p>
                                            所有的设计都来自于你们的灵感，所有的工艺都来自于知名的厂家！你想要的，就是我们不断追求的！
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="hot_items" class="row align-center mar-bot40">
                            </div>
                        </div>
                    </section>
                    <!-- /about -->
                    <!-- spacer section:stats -->
                    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
                        <div class="container">
                            <div class="align-center pad-top40 pad-bot40">
                                <blockquote class="bigquote color-white">
                                    一麻袋的理想
                                </blockquote>
                                <p class="color-white">
                                    一麻袋
                                </p>
                            </div>
                        </div>
                    </section>
                    <!-- section works -->
                    <section id="section-works" class="section appear clearfix">
                        <div class="container">
                            <div class="row mar-bot40">
                                <div class="col-md-offset-3 col-md-6">
                                    <div class="section-header">
                                        <h2 class="section-heading animated" data-animation="bounceInUp">
                                            产品
                                        </h2>
                                        <p>
                                            广告语----广告语----广告语-----广告语
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <nav id="filter" class="col-md-12 text-center">
                                    <ul>
                                        <li>
                                            <a href="#" class="current btn-theme btn-small" data-filter="*">
                                                所有的
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn-theme btn-small" data-filter=".webdesign">
                                                男人
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn-theme btn-small" data-filter=".photography">
                                                女人
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="btn-theme btn-small" data-filter=".print">
                                                儿童
                                            </a>
                                        </li>
                                        <li>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="search" id="search" placeholder="search"
                                                data-rule="maxlen:4" data-msg="Please enter at least 8 chars of type" />
                                                <div class="validation">
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </nav>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="portfolio-items isotopeWrapper clearfix" id="3">
                                            <article class="col-md-4 isotopeItem webdesign">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img1.jpg" alt="" />
                                                    <div class="portfolio-desc align-left">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img2.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem photography">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img2.jpg" alt="" />
                                                    <div class="portfolio-desc align-left">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img2.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem photography">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img3.jpg" alt="" />
                                                    <div class="portfolio-desc align-left">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img3.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem print">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img4.jpg" alt="" />
                                                    <div class="portfolio-desc align-left">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img4.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem photography">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img5.jpg" alt="" />
                                                    <div class="portfolio-desc align-left">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img5.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem webdesign">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img6.jpg" alt="" />
                                                    <div class="portfolio-desc align-left">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img6.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem print">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img7.jpg" alt="" />
                                                    <div class="portfolio-desc align-left">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img7.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem photography">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img8.jpg" alt="" />
                                                    <div class="portfolio-desc align-center">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="${path}/views/front/img/portfolio/img8.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                            <article class="col-md-4 isotopeItem print">
                                                <div class="portfolio-item">
                                                    <img src="${path}/views/front/img/portfolio/img9.jpg" alt="" />
                                                    <div class="portfolio-desc align-center">
                                                        <div class="folio-info">
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <h5>
                                                                <a href="custom" class="fancybox fancybox.iframe">
                                                                    <i href="#" class="fa fa-square-o fa-2x">
                                                                    </i>
                                                                </a>
                                                            </h5>
                                                            <a href="img/portfolio/img9.jpg" class="fancybox">
                                                                <i class="fa fa-search-plus fa-2x">
                                                                </i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
                        <div class="align-center pad-top40 pad-bot40">
                            <blockquote class="bigquote color-white">
                                Indoctum accusamus comprehensam
                            </blockquote>
                            <p class="color-white">
                                Bootstraptaste
                            </p>
                        </div>
                    </section>
                    <!-- contact -->
					<!--
                    <section id="section-contact" class="section appear clearfix">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <div class="span7">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <img alt="960x640" src="img/01.jpg" />
                                        </div>
                                    </div>
                                </div>
                                <div class="span5">
                                    <div class="tabbable" id="tabs-976268">
                                        <ul class="nav nav-tabs">
                                            <li>
                                                <a href="#panel-952274" data-toggle="tab">
                                                    第一部分
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="#panel-705834" data-toggle="tab">
                                                    第二部分
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane" id="panel-952274">
                                                <p>
                                                    第一部分内容.
                                                </p>
                                            </div>
                                            <div class="tab-pane active" id="panel-705834">
                                                <p>
                                                    第二部分内容.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn">
                                            Action
                                        </button>
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                            <span class="caret">
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#">
                                                    操作
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    设置栏目
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    更多设置
                                                </a>
                                            </li>
                                            <li class="divider">
                                            </li>
                                            <li class="dropdown-submenu">
                                                <a tabindex="-1" href="#">
                                                    更多选项
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#">
                                                            操作
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            设置栏目
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            更多设置
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
					-->
                    <!-- map -->
                    <section id="section-map" class="clearfix">
                        <div id="map">
                        </div>
                    </section>
                    <section id="footer" class="section footer">
                        <div class="container">
                            <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                                <div class="col-sm-12 align-center">
                                    <ul class="social-network social-circle">
                                        <li>
                                            <a href="#" class="icoRss" title="Rss">
                                                <i class="fa fa-rss">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="icoFacebook" title="Facebook">
                                                <i class="fa fa-facebook">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="icoTwitter" title="Twitter">
                                                <i class="fa fa-twitter">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="icoGoogle" title="Google +">
                                                <i class="fa fa-google-plus">
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="icoLinkedin" title="Linkedin">
                                                <i class="fa fa-linkedin">
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row align-center copyright">
                                <div class="col-sm-12">
                                    <p>
                                        Copyright &copy; 2014 Amoeba - by
                                        <a href="http://bootstraptaste.com">
                                            Bootstraptaste
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <a href="#header" class="scrollup">
                        <i class="fa fa-chevron-up">
                        </i>
                    </a>
                    <script src="${path}/views/front/js/modernizr-2.6.2-respond-1.1.0.min.js">
                    </script>
                    <script src="${path}/views/front/js/jquery.js">
                    </script>
                    <script src="${path}/views/front/js/jquery.easing.1.3.js">
                    </script>
                    <script src="${path}/views/front/js/bootstrap.min.js">
                    </script>
                    <script src="${path}/views/front/js/jquery.isotope.min.js">
                    </script>
                    <script src="${path}/views/front/js/jquery.nicescroll.min.js">
                    </script>
                    <script src="${path}/views/front/js/fancybox/jquery.fancybox.pack.js">
                    </script>
                    <script src="${path}/views/front/js/skrollr.min.js">
                    </script>
                    <script src="${path}/views/front/js/jquery.scrollTo-1.4.3.1-min.js">
                    </script>
                    <script src="${path}/views/front/js/jquery.localscroll-1.2.7-min.js">
                    </script>
                    <script src="${path}/views/front/js/stellar.js">
                    </script>
                    <script src="${path}/views/front/js/jquery.appear.js">
                    </script>
                    <script src="${path}/views/front/js/validate.js">
                    </script>
                    <script src="${path}/views/front/js/main.js">
                    </script>
					<script src="${path}/views/front/js/ymd/Index_itemdata_init.js">
                    </script>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            $('.fancybox').fancybox({
                                padding: 0,
                                autoScale: true,
                                width: 1024,
                                height: 640,
                                openEffect: 'elastic'
                            });
							///  /*热销商品数据初始化*/
							loadData();
							
						
							
							
                        });
                    </script>
                </body>
                
                </html>